  .history {
    margin-bottom: 2rem;
    background-color: #f8f8f8; /* Light gray background */
    padding: 1rem;
    border-radius: 10px;
  }
  
  .history h2 {
    color: #ff0000; /* Red text */
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .history p {
    font-size: 1.2rem;
    color: #333; /* Dark text */
  }
  
  .pastoral-team {
    text-align: center;
    margin-top: 2rem;
  }
  
  .pastoral-team h2 {
    color: #ff0000; /* Red text */
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  
  .team-card {
    background-color: #fff; /* White background */
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    max-width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }
  
  .team-card img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  .team-card p {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #333; /* Dark text */
  }
  