.hero {
 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-size: cover;
  background-position: center;
  color: #fff; /* White text */
  position: relative;
  padding: 0 1rem;

}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 1;
}

.hero-text {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  max-width: 800px;
  width: 100%;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.5rem;
  
}

/* Responsive Styling */
@media (max-width: 768px) {
  .hero {
    height: 50vh;
  }

  .hero-text {
    padding: 1.5rem;
  }

  .hero h1 {
    font-size: 2rem;
  }
  .hero p {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .hero {
    height: 40vh;
  }

  .hero h1 {
    font-size: 1.5rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .hero-text {
    padding: 1rem;
  }
}