.sermons {
  width: 100%;
  padding: 2rem 0;
  position: relative;
  overflow-x: hidden;
}

.sermons h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #ff0000; /* Red text */
}

.sermon-cards-wrapper {
  position: relative;
}

.sermon-cards {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  scroll-behavior: smooth;
  padding-bottom: 1rem;
  transition: opacity 0.3s ease;
}

.sermon-card {
  flex: 0 0 auto;
  width: 400px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  text-align: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.8;
}

.sermon-card:hover {
  transform: scale(1.05);
  opacity: 1;
}

.sermon-card iframe {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.sermon-card p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 0;
  margin-top: 0;
}

.scroll-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(165, 165, 165, 0.8); /* Red background */
  color: rgb(16, 13, 13);
  border: none;
  padding: 1rem;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.scroll-arrow.left {
  left: 0;
}

.scroll-arrow.right {
  right: 0;
}

.sermons:hover .sermon-cards,
.sermons:hover .scroll-arrow {
  opacity: 1;
}
